canvas{
  border : 1px solid black ;
}
div#canvas_wrapper{
  background : white ;
  width  : 760px ;
  height : 860px ;
  padding : 5px ;
  text-align : center ;
  margin : auto ;
}
input.text{
  width : 50px ;
}
table#table_population{
  width : 200px ;
  margin : auto ;
}
td.population{
  text-align : center ;
}
select{
  width : 100px ;
}

div.tab     { display : table      ; }
div.tab_row { display : table-row  ; }
div.tab_cell{ display : table-cell ; }
